//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    text-align: center;
}
.title{
    font-size: 5rem;
    margin-bottom: 40px;
}

.title2{
    font-size: 2rem;
    margin-bottom: 40px;
}
button a{
    text-decoration:  none;
    padding: 20px;
}
ol{
    text-align: center;
}